.image{
  min-height: 100vh;
  background-image: url("./img//hassan.jpg");

}
.card{
  align-items: center;
display: flex;
flex-direction: column;
justify-content: center;
padding: 150px;
padding-top: 350px;
}
.card>button{
  
}